<section class="container backcolor   ">
    <div *ngFor="let data of shipmentCommon" class=" border-bottom-side py-md-4 py-lg-2 py-sm-1 col-md-12  d-flex flex-wrap ">

         <!-- left -->
        <div class="d-flex justify-content-between" class="col-md-6   d-flex flex-wrap p-md-4 py-lg-4 p-sm-2">
          <div class="col-md-5 col-sm-12">
            <span>Booking <a routerLink="/bookings/bookingdetails" class="list-unstyled"># {{data.bookingno}}</a></span>
            <span class="mt-1">AE - {{data.collectiontype}} - FOB</span>
          </div>
          <div class="col-md-2 col-sm-12 text-start">
            <span>{{data.portStart}}</span>
            <span class="opacity-100 fs-6 my-1">{{data.portStartPlace}}</span>
            <span>{{data.startDate}}</span>
          </div>
          <div class="d-flex justify-content-start align-items-center col-md-1 col-sm-12 text-start">
            <!-- <i class="fas fa-ship fs-3 mx-3"></i> -->
            <!-- <i class="fas fa-fighter-jet fs-3"></i> -->
             <img [src]="data.image" class="fs-6 w-50 opacity-50" alt="shipping">
      
          </div>
          <div class="col-md-2 col-sm-12 text-start">
            <span>{{data.portEnd}}</span>
            <span  class="opacity-100 fs-6 my-1">{{data.portEndPlace}}</span>
            <span>{{data.EndDate}}</span>
          </div>
        </div>
        <!-- right -->
        <div class="col-md-5  d-flex p-md-3 py-lg-4 p-sm-2  ">
          <div class="col-md-6">
            <span  class=" fs-6 my-1">Shipper</span>
            <span>{{data.shipper}}</span>
          </div>
          <div class="col-md-6">
            <span class="fs-6">Consignee</span>
            <span  class=" fs-6 my-1">{{data.consignee}}</span>
          </div>
      
        </div>
        <!-- amount -->
        <div class="col-md-1 d-flex align-items-center justify-content-center">
            <p>{{data.amount}} INR</p>
        </div>
      
      </div>
      
</section>