<div class="col-md-12 backcolor ">
  <div class="col-md-12 py-2 px-3 align-items-center justify-content-between d-flex border-bottom ">
    <p class="fs-5">Active Bookings(8)</p>
    <p class="btn btn-primary">Show All</p>
  </div>
  <div class="col-md-12 border-bottom-side">
    <!-- left -->
    <div class="col-md-12 col-sm-12 p-3 border-bottom-side  " *ngFor="let data of dashboardCommon">

      <div class="border-bottom-side d-flex justify-content-between align-items-center">
        <div>
          <span class="fw-bold opacity-75">Booking <a routerLink="/shipmentsdetails/details" class="list-unstyled"># {{data.bookingno}}</a></span>
          <p class="my-2">AE - Prepaid - FOB</p>
        </div>

        <div class="">
          <p> 35,000</p>
        </div>

      </div>

      <div class="d-flex justify-content-between w-75 mt-1 ">
        <div class="">
          <span>{{data.portStart}}</span>
          <p class="opacity-75 fw-bolder mt-1 ">{{data.portStartPlace}}</p>
          <span>{{data.startDate}}</span>
        </div>
        <div class="d-flex justify-content-center align-items-center">

          <img [src]="data.image" alt="shipping " class="opacity-50 w-50">

        </div>
        <div class="">
          <span>{{data.portEnd}}</span>
          <p class="opacity-75 fw-bolder mt-1">{{data.portEndPlace}}</p>
          <span>{{data.EndDate}}</span>
        </div>
      </div>

     
      <div class="mt-2">
        <p class="opacity-75">Departed from {{data.departedfromplace}}</p>
      </div>
    </div>
  </div>
  <!-- right -->

</div>
