<section class="col-md-12 col-sm-12 ">
 
  <div class="col-md-12 col-sm-12">
    <mat-horizontal-stepper class="backcolor">

      <mat-step label="Elantas PDG INC" state="phone">
        <div class="d-inline-flex flex-column">
          <span class="fw-bold opacity-75 fs-6">SAV</span>
          <span>Savannah</span>
          <span>Tue,09 May '17</span>
        </div>
      </mat-step>
  
      <mat-step label="SAV" state="chat">
        <div class="d-inline-flex flex-column">
          <span class="fw-bold opacity-75 fs-6">SAV</span>
          <span>Savannah</span>
          <span>Tue,09 May '17</span>
        </div>
      </mat-step>
  
      <mat-step label="SIN" state="phone">
        <div class="d-inline-flex flex-column">
          <span class="fw-bold opacity-75 fs-6">SAV</span>
          <span>Savannah</span>
          <span>Tue,09 May '17</span>
        </div>
      </mat-step>
  
      <mat-step label="PKG" state="phone">
        <div class="d-inline-flex flex-column">
          <span class="fw-bold opacity-75 fs-6">SAV</span>
          <span>Savannah</span>
          <span>Tue,09 May '17</span>
        </div>
      </mat-step>
  
      <mat-step label="MAA" state="phone">
        <div class="d-inline-flex flex-column">
          <span class="fw-bold opacity-75 fs-6">SAV</span>
          <span>Savannah</span>
          <span>Tue,09 May '17</span>
        </div>
      </mat-step>
  
      <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
      </ng-template>
  
      <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
      </ng-template>
  
    </mat-horizontal-stepper>
  </div>
</section>