<div class="container  col-md-12 col-sm-12   ">
    <div class="row ">
      <!-- left -->
      <div class="col-md-4 border col-sm-12 backcolor  p-2">
        <!-- top -->
        <div class="row col-md-12 my-2 border-bottom">
          <div class="col-md-6">
            <select class="btn btn-outline-info w-100">
              <option value="book one">Active Invoice</option>
  
            </select>
            <p class="mt-md-2 opacity-75">16 Invoices</p>
  
          </div>
          <div class="col-md-6 ">
            <div class="col-md-12">
              <input type="text" placeholder="  search  " class="  btn btn-outline-info text-info py-1">
            </div>
            <div class="col-md-12  mt-2 row">
  
              <span class="col-md-5  mt-md-1 opacity-75">Sort by</span>
              <div class="col-md-4 col-sm-12 ">
                <select class="btn btn-outline-info  ">
                  <option value="book one">Expiry Date</option>
  
                </select>
  
              </div>
  
            </div>
          </div>
        </div>
        <!-- top end -->
        <section class="py-2 border-bottom " *ngFor="let data of quotationValues">
          <div >
            <div class="d-flex justify-content-between ">
              <p class="opacity-50 fw-bold">INV # <a class="text-info">{{data.quoNumber}}</a> </p>
              <p class="text-danger">{{data.expires}} </p>
  
  
              <div class="d-flex justify-content-end align-items-center ">
                <p class="" id="circle" [ngStyle]="{'background': data.color}"> </p>
                <p class="text-dark mx-2">{{data.status}}</p>
                
              </div>
  
  
             
            </div>
  
            <p class="opacity-75">{{'Delhi'}} <i class="fas fa-arrow-right mx-3"></i> {{'Chennai'}}</p>
  
            <div class="d-flex justify-content-between w-75 opacity-75">
  
              <p>Volume(cbm):{{data.volume}}</p>
              <p class="text-center ps-4">Weight(kg):{{data.weight}}</p>
              <p>{{''}}</p>
            </div>
          </div>
        </section>
      </div>
      <!-- right -->
      <div class="col-md-8 ">
        <!-- right-top-1 -->
        <section class="col-md-12  row p-3 backcolor ms-0 ">
          <div class="col-md-4">
            <p>INVOICE NO</p>
            <P># 612081383</P>
          </div>
          <div class="col-md-5 d-flex justify-content-between ">
            <div>
              <p>INVOICE DATE</p>
              <P>WED,02 AUG'17</P>
            </div>
            <div>
              <p>EXPIRY DATE <span>(IN 9 DAYS)</span></p>
              <P>SAT,12 AUG'17</P>
            </div>
          </div>
          <div class="col-md-3 text-end">
            <p>PENDING</p>
            <button class="btn btn-success">Approve invoice</button>
          </div>
        </section>
        <!-- right-top-2 -->
        <section class="col-md-12  d-flex justify-content-center align-items-center  p-md-3 backcolor">
          <div class="col-md-4 d-flex">
            <div>
              <p>ORIGIN</p>
              <span class="opacity-75 fw-bold">CHICACO</span>
            </div>
            <div class="d-flex justify-content-center align-items-center mx-3">
              <i class="fas fa-arrow-right"></i>
            </div>
            <div>
              <p>DESTINATIO</p>
              <span class="opacity-75 fw-bold">CHENNAI(EXW)</span>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-start px-sm-1 px-md-3 ">
            <div>
              <p>INVOICE DATE</p>
              <P>WED,02 AUG'17</P>
            </div>
            <div class=" ms-md-5">
           
              <P>WEGHT (KG):2.170</P>
            </div>
          </div>
          <div class="col-md-3 text-end">
             <p>TOTAL AMOUNT (INR)</p>
             <P>40,472.64</P>
          </div>
        </section>
        <!-- right top 3 -->
        <section class="col-md-12 d-flex align-items-center border-bottom backcolor ">
         <div class="text-center d-flex justify-content-end col-md-6 mt-md-3">
          <nav aria-label="Page navigation example fs-3">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link fs-4" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item fs-5"><a class="page-link" href="#">1</a></li>
              <li class="page-item fs-5"><a class="page-link" href="#">2</a></li>
              <li class="page-item fs-5"><a class="page-link" href="#">3</a></li>
              <li class="page-item fs-4">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
         </div>
         <!-- 2 -->
         <div class="col-md-6 d-flex justify-content-evenly opacity-50">
          <i class="fas fa-search-minus fs-4"></i>
          <i class="fas fa-search-plus fs-4"></i> 
          <i class="fas fa-times fs-4"></i>
          <span>|</span>
          <i class="fas fa-arrow-alt-circle-down fs-4"></i>
          <i class="fas fa-print fs-4"></i>
         </div>
        </section>
        <!-- FRIGHT SYSTEM  -->
        <section>
          <div class="col-md-12 col-sm-12 img-responsive">
             <img class="col-md-12 col-sm-12 img-fluid" src="../../../assets/invoice.png" alt="invoice">
          </div>
        </section>
      </div>
    </div>
  </div>
  