<div class="backcolor ">

  <div class="col-md-12 row py-3 border-bottom container">
    <div class="col-md-3">
      <p>Booking No </p>
      <p># 120897001487</p>
    </div>
    <div class="col-md-7 d-flex align-items-center justify-content-start">
      <mat-progress-bar mode="determinate" value="60" class="w-50 "></mat-progress-bar>
      <span class="mx-2"> 12 Days</span>
     <div>
      <span>(Changed Scheduled)</span>
 
      <div>
      
        <button mat-button (click)="openDialog()" class="text-info btn ">view history</button>

      </div>
  
     </div>
    </div>
    <div class="col-md-2 m-auto">
      <p>IN TRANSIT</p>
    </div>
  </div>

  <div class="py-3 container">
    <span>Contact Details</span>
    <div class="row col-md-12 my-2">
      <div class="col-md-4">
        <address>
          SHIPPER,<br>
          ELANDAS PDG INC,
          5200 NORTH SECOND ST ST LOUIS,<br>
          MO 63147 PH 3146215700
          FAX 31443030
        </address>
      </div>
      <div class="col-md-4">
        <address>
          SHIPPER,<br>
          ELANDAS PDG INC,
          5200 NORTH SECOND ST ST LOUIS,<br>
          MO 63147 PH 3146215700
          FAX 31443030
        </address>
      </div>
      <div class="col-md-4">
        <address>
          NOTIFY<br>

        </address>
      </div>
      <div class="col-md-4">
        <address>
          SHIPPER,<br>
          ELANDAS PDG INC,
          5200 NORTH SECOND ST ST LOUIS,<br>
          MO 63147 PH 3146215700
          FAX 31443030
        </address>
      </div>
    </div>
    <!-- third -->
    <div>

    </div>
  </div>
</div>
